* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  user-select: none;
  background-color: #18181B;
}

.link1 :hover {
  color: #CCFBF1
}

.link2 :hover {
  color: #0D9488;
}

@media screen and (max-width: 800px) {
    .cards {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
      
    }
}

@media screen and (max-width: 560px) {
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    
  }
}


